@import '../../Styles/variables.scss';
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
  svg {
    transition: all 0.3s;
    width: 35px;
    height: 35px;
    animation: rotate 3s linear infinite;
    fill: red;
  }
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  color: $primary-color;
  font-family: 'Fredericka';
  letter-spacing: 4px;
}

.change_theme {
  cursor: pointer;
  margin-right: 20px;
  svg {
    transition: all 0.3s;
    height: 30px;
    width: 30px;
  }
}
.change_theme:hover {
  svg {
    transform: scale(1.4);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
}
