@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:wght@300;500;800&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  font-family: 'Montserrat', cursive;
  background-color: var(#{--body-background-default});
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 30px 0px 30px;
}
