$primary-color: rgb(74, 141, 197);
$light-color: #000;
$base-color: #939cb0;
$dark-color: #fff;

$body-background-dark: #2b2b2b;
$body-background-light: #e6e6e6;

$components-background-dark: #4f4f4f;
$components-background-light: #fff;

$card-background-light: rgba(71, 147, 255, 0.2);
$card-background-dark: #2e3035;

$card-box-shadow-light: 0px 3px 20px rgba(12, 12, 12, 0.28);
$card-box-shadow-dark: 0px 3px 20px rgba(5, 5, 5, 0.28);

@mixin light {
  background: rgb(255, 255, 255);
  box-shadow: 2px 4px 25px -3px rgba(92, 92, 92, 0.25);
  border-radius: 20px;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  //body background
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(#{--body-background-light});

  //component background
  --components-background-light: #{$components-background-light};
  --components-background-dark: #{$components-background-dark};
  --components-background-default: var(#{--components-background-light});

  //card-background
  --card-background-dark: #{$card-background-dark};
  --card-background-light: #{$card-background-light};
  --card-background-default: var(#{--card-background-light});

  //card-shadow
  --card-shadow-dark: #{$card-box-shadow-dark};
  --card-shadow-light: #{$card-box-shadow-light};
  --card-shadow-default: var(#{--card-shadow-light});

  //text
  --text-color-dark: #{$dark-color};
  --text-color-light: #{$light-color};
  --text-color-default: var(#{--text-color-light});
}
