.wrapper {
  display: flex;
  justify-content: space-between;
  height: auto;
}

@media (max-width: 725px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}
a {
  text-decoration: none;
  font-size: 0.5rem;
  color: rgb(99, 99, 99);
}
@media (max-width: 540px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

