@import '../../../../Styles/variables.scss';

.current_day {
  @include light;
  margin-right: 20px;
  padding: 20px;
  max-width: 350px;
  height: 200px;
  width: 100%;
  background-color: var(#{--components-background-default});
  font-family: 'Fredericka';
}

.top_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;

  svg {
    width: 119px;
    height: 119px;
  }
  .temp {
    font-size: 4em;
    font-weight: 500;
    color: $primary-color;
  }
  .day_name {
    font-size: 1.2em;
    color: var(#{--text-color-default});
  }
}
.bottom_block {
  .city,
  .time {
    color: $base-color;
    font-size: 2em;
  }
}
